{
  "Version": 2,
  "Mixers": {
    "Guid": "9f1b75c5-c21d-43ca-a7ce-07dbceb11a58",
    "Name": "Master",
    "Volume": 0.41964287,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "6c20384a-85db-4ec0-aa55-1efd9b59a4fc",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "fa561905-cb28-43df-bcfb-f89944ce8682",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "bd63e39e-13db-4fdf-a57e-e58cacaddc49",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "6b2f8bb1-cea3-4702-8024-0ed3335a4989",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}