{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 50,
  "__guid": "58695981-d7e6-4133-889c-9ceac39361f3",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}